.display {
  font-family: monospace;
}
#display {
  margin: 5px;
  padding: 2px;
}

.flex-container {
  border: 2px dotted rgb(96 139 168);
  display: flex;
  flex-direction: column;
  padding: 1em;
  align-items: center;
}

#history p{
  display:flex;
  flex-direction: column;
  margin: 5px;
}

.button-fill {
  display: flex;
  background-color: rgba(0, 0, 0, 0);
}

.button-column {
  border: 2px solid rgb(150, 150, 150);
  border-radius: 5px;
  background-color: rgb(150 150 150 / 0.2);
  margin: 5px;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.row {
  display: flex;
  flex-direction: row;
  flex-grow: 0;
}
.column {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
}

.calc-btn {
  font-family: monospace;
  border: 2px solid rgb(96 139 168);
  border-radius: 5px;
  background-color: rgb(96 139 168 / 0.2);
  padding: 1em;
  margin: 3px;
}
.calc-btn:active {
  background-color: orange;
}
.btn-number {
  border: 2px solid rgb(75, 75, 75);
  background-color: rgba(75, 75, 75, 0.3);
}
